<div class="container px-5 px-sm-0">
  <div class="row d-flex">
    <div class="col-md-3">
      <div><%= render 'public/items/item_genre' %></div>
      <div>
        
      </div>
    </div>
  </div>
</div>
