<div class="container">
    <h4 class="mt-5 bg-light">ショッピングカート</h4>
    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!--% @cart_items.each do |f| %>
        <tr>
          <td><!%= f.item,name %></td>
          <td><!%= f.item,price %></td>
          <td><!%= f,amount %></td>
          <td>小計を出す計算式</td>
        </tr>
        <!% end %-->
      </tbody>
    </table>
</div>