<table border="1" rules="groups" width=150 height=250>
  <thead align="center">
    <tr>
      <th>
        <strong>ジャンル検索</strong>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to "ケーキ" %></td>
    </tr>
    <tr>
      <td><%= link_to "焼き菓子" %></td>
    </tr>
    <tr>
      <td><%= link_to "プリン" %></td>
    </tr>
    <tr>
      <td><%= link_to "キャンディ" %></td>
    </tr>
  </tbody>
</table>
