<table>
  <tr>
    <th>
      <strong>ジャンル検索</strong>
    </th>
  </tr>
  <tr>
    <td><%= link_to "ケーキ", items_path %></td>
  </tr>
  <tr>
    <td><%= link_to "焼き菓子", items_path %></td>
  </tr>
  <tr>
    <td><%= link_to "プリン", items_path %></td>
  </tr>
  <tr>
    <td><%= link_to "キャンディ", items_path %></td>
  </tr>
</table>
