<h2>items</h2>

<div>ジャンル検索の部分テンプレートを準備する</div>

<br>

<h2 style="display:inline">商品一覧</h2>
<span>(全x件)</span>

<% @items.each do |item| %>

<div><%= item.name %></div>
<div><%= item.price %></div>

<% end %>